CRYPTO_POLICY='-oCiphers={{ sshd_ciphers }} -oMACs={{ sshd_macs }} -oGSSAPIKexAlgorithms={{ sshd_gssapikexalgos }} =oKexAlgorithms={{ sshd_kexalgos }} -oHostKeyAlgorithms={{ sshd_hostkeyalgorithms }} -oPubkeyAcceptedKeyTypes={{ sshd_pubkeyacceptedalgorithms }} -oCASignatureAlgorithms={{ sshd_casignaturealgorithms }}'
